.CardItem {
    margin: 20px 0;
}

.CardItem h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 10px;
}

.cardItem__table {
    margin: 0 auto;
    width: 500px;
}

.cardItem__table tbody tr td {
    text-align: left;
}



